<h3>
  All-tasks 
</h3>
<a (click)="addTask()" >Add a task</a>
<div>
  <ul>
    <li *ngFor="let task of tasks">
      <div class="row">
        <div class="col-md-4">{{ task.title }}</div>
        <div class="col-md-2">{{ TaskStatus[task.status] }}</div>
        <div class="col-md-2">
          <a [routerLink]="['/',{ outlets: { details:['task',task.id]}}]">Edit</a>
        </div>
        <button class="col-md-2" *ngIf="task.isActive" (click)="deleteTask(task)"> delete</button>
        <button class="col-md-2" *ngIf="!task.isActive" (click)="unDeleteTask(task)">unDelete</button>
      </div>
    </li>
  </ul>
</div>