<div class="row">
    <h2><span *ngIf="person?.id == 0"> New</span>Person Details <span  *ngIf="person?.id > 0"> for {{person?.id}}</span></h2>
</div>

<div class="row" *ngIf="isEdit">
 <label class="col-md-4">Name</label>
 <input class="col-md-8" [(ngModel)]="personUnderEdit.name" placeholder="enter person name"/>
</div>

<div class="row" *ngIf="!isEdit">
   Name: {{person?.name}}
</div>

<div class="row" *ngIf="isEdit">
    <button (click)="savePerson()">Save</button>
    <button (click)="cancel()">Cancel</button>
</div>

IsEdit Mode : {{isEdit}}